body{
  background-color: rgba(25, 25, 25, 1);
  color: rgba(200, 200, 200, 1);
}

.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title{
  font-size: 50px;
  padding: 10px;
  text-align: center;
}

.main-body{
  display: flex;
}

.environment{
  border: 1px solid rgba(50, 50, 50, 1);
  height: 50vh;
  position: relative;
  width: 50vh;
}

.user-input-container{
  width: 100%;

  input{
    background-color: transparent;
    border: 1px solid rgba(50, 50, 50, 1);
    box-sizing: border-box;
    color: rgba(200, 200, 200, 1);
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  input:focus{
    border: 1px solid rgba(200, 200, 200, 1);
  }
}