.link-icon{
  font-size: 20px;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  
  i:hover{
    color: rgba(250, 250, 250, 1);
    cursor: pointer;
  }
}

#clock-canvas:hover{
  cursor: pointer;
}